<!DOCTYPE html>
<html>
<head>
  <title>HostedForums</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |k,v| %>
  <div class='flash <%= k %>'><%= v %></div>
<% end %>
<%= render partial: "subscribem/shared/login" %>

<%= yield %>

</body>
</html>
